---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Strangers!</h1>
			<p>
				Welcome to my personal site, friends. This site contains my quotes, ramblings, and life.
			</p>
			<p>
				Try to follow what I’m saying because if you miss an important point the thread will be lost & you will have to start again! Now I’ve given that warning it’s time to make a choice: The good: This website is very interesting — it has a lot of potential for different situations. The bad: it’s bloody frustrating if you fall off. The End.
			</p>
			<p>
				Have fun! and do not hesitate to contact me if you with any questions or wanna discuss something.
			</p>
		</main>
		<Footer />
	</body>
</html>
